# {{ ansible_managed }}
[Unit]
StartLimitIntervalSec={{ quassel_systemd_startlimitintervalsec }}
StartLimitBurst={{ quassel_systemd_startlimitburst }}

[Service]
Environment="DB_BACKEND={{ quassel_db_backend }}"
{% if quassel_db_backend == "PostgreSQL" %}
Environment="DB_PGSQL_USERNAME={{ quassel_db_pgsql_username }}"
Environment="DB_PGSQL_PASSWORD={{ quassel_db_pgsql_password }}"
Environment="DB_PGSQL_HOSTNAME={{ quassel_db_pgsql_hostname }}"
Environment="DB_PGSQL_PORT={{ quassel_db_pgsql_port }}"
{% endif %}
Environment="AUTH_AUTHENTICATOR={{ quassel_auth_authenticator }}"
{% if quassel_auth_authenticator == "LDAP" %}
Environment="AUTH_LDAP_HOSTNAME={{ quassel_auth_ldap_hostname }}"
Environment="AUTH_LDAP_PORT={{ quassel_auth_ldap_port }}"
Environment="AUTH_LDAP_BIND_DN={{ quassel_auth_ldap_bind_dn }}"
Environment="AUTH_LDAP_BIND_PASSWORD={{ quassel_auth_ldap_bind_password }}"
Environment="AUTH_LDAP_FILTER={{ quassel_auth_ldap_filter }}"
Environment="AUTH_LDAP_UID_ATTRIBUTE={{ quassel_auth_ldap_uid_attribute }}"
{% endif %}
ExecStart=
ExecStart={{ quassel_binary }} \
  --configdir={{ quassel_configdir }} \
  --logfile={{ quassel_logfile }} \
  --loglevel={{ quassel_loglevel }} \
  --port={{ quassel_port }} \
  --listen={{ quassel_listen | join(',') }} \
{% if quassel_ident_daemon %}
  --ident-daemon \
  --ident-port={{ quassel_ident_port }} \
  --ident-listen={{ quassel_ident_listen | join(',') }} \
{% endif %}
  --config-from-environment
Restart={{ quassel_systemd_restart }}
RestartSec={{ quassel_systemd_restartsec }}
