# {{ ansible_managed }}
[Service]
Environment="DB_BACKEND={{ quassel_db_backend }}"
Environment="DB_PGSQL_USERNAME={{ quassel_db_pgsql_username }}"
Environment="DB_PGSQL_PASSWORD={{ quassel_db_pgsql_password }}"
Environment="DB_PGSQL_HOSTNAME={{ quassel_db_pgsql_hostname }}"
Environment="DB_PGSQL_PORT={{ quassel_db_pgsql_port }}"
Environment="AUTH_AUTHENTICATOR={{ quassel_auth_authenticator }}"
ExecStart=
ExecStart={{ quassel_binary }} \
  --configdir={{ quassel_configdir }} \
  --logfile={{ quassel_logfile }} \
  --loglevel={{ quassel_loglevel }} \
  --port={{ quassel_port }} \
  --listen={{ quassel_listen | join(',') }} \
{% if quassel_ident_daemon %}
  --ident-daemon \
  --ident-port={{ quassel_ident_port }} \
  --ident-listen={{ quassel_ident_listen | join(',') }} \
{% endif %}
  --config-from-environment
StartLimitIntervalSec=0
Restart=always
RestartSec=1
